.home{
    background-color: rgb(250, 250, 250);
    height: 100rem;
}
.posts-stories{
    width: 100%;
}
.home-container{
    width: calc(100% - 1rem);
    margin: auto;
}
@media (min-width:576px){
    .home-container{
        width: calc(100% - 9rem);
        margin: auto;  
    }    
}
@media (min-width:992px){
    .home-container{
        width: calc(100% - 22rem);
        margin: auto; 
    }  
}
@media (min-width:1200px){
    .home-container{
        width: calc(100% - 28rem);
    }
    .posts-stories{
        width: 70%;
    }
}